header{
    background-color: white;
}

body {
    background-color: lightgray;
   
}

img{
    align-items: center;
}

h1{
    color: mediumblue;

}

h2 {
    color: mediumblue;
}

h3 {
    color: mediumblue;
}

table, th, tr {
    border: 1px solid black;
}